@use "./font";
@use "./game.scss";

$color: #fff;
$accent-color: #c2f5ff;
$back-color: #004980;
$btn-color: #7ac100;
$btn-color-hover: #69a501;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: "Stratos Regular", sans-serif;
    background-color: $back-color;
    color: $color;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice {
    color: $back-color;
    background-color: $accent-color;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    border-radius: 12px;

    & main {
        margin: 50px 0;
    }

    &__header h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        width: 208px;
        text-align: center;
    }

    &__select {
        display: flex;
        gap: 30px;
    }

    & label {
        background: $color;
        color: $back-color;
        width: 96px;
        height: 98px;
        display: flex;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 64px;
    }

    & input[type="radio"] {
        display: none;

        &:checked + label {
            border: 3px solid $back-color;
        }
    }
}

.btn {
    font-family: "Stratos Regular", sans-serif;
    width: 246px;
    font-size: 24px;
    line-height: 32px;
    border-radius: 12px;
    background: $btn-color;
    color: $color;
    padding: 17px 0;
    cursor: pointer;
    transition: background 0.3s ease;
    &__restart {
        padding: 9px 0;
    }
    &:hover {
        background: $btn-color-hover;
    }
}
