@import "_fonts";

$background: #004980;
$color-reversed: #0080c1;
$accept: #c2f5ff;
$color: #fff;
$background-btn: #7ac100;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: SkyEng;
    font-style: normal;
    font-weight: 400;
    background: $background;
    color: $color;
    height: 100vh;
}

.container {
    height: 100vh;
    width: 1024px;
    margin: 0 auto;
}

.btn {
    color: $color;
    background: $background-btn;
    width: 246px;
    height: 49px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}
@import "_start";
@import "_game";
