.game__container
    header.game__header
        .game__timer.timer 
            p.timer__minutes 00
            span.timer__divider :
            p.timer__seconds 00
        .game__buttons
            button.btn.btn__restart Начать заново
    main.game__main
        
